* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  background-color: #CDF0EA;
}

footer {
  background-color: #F6C6EA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logoAjoNav {
  width: 4rem;
  height: 4rem;
}

.logoAjoFooter {
  width: 4rem;
  height: 4rem;
  margin: 7px;
}

section {
  background-color: #F9F9F9;
}

.contenidoFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iconosRedes {
  text-decoration: none;
  margin: 0.5rem;
  font-size: 2rem;
  color: black;
}

.infoFooter {
  margin: 0.5rem;
}

.carousel-item {
  height: 31rem;
}

.card-group {
  margin: 40px;
}

.ensenanzaAjo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.ensenanzaAjo h4 {
  text-align: center;
}

.fotoMontessori {
  margin-left: 1rem;
}

.fotoWaldorf {
  margin-right: 1rem;
}

.tituloJuguetes {
  text-align: center;
  margin: 25px;
  font-size: 48px;
}

.presentacionesQuienes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.presentacionAjo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.presentacionAjo p {
  text-align: center;
}

.fotoPresentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imagenAutito {
  width: 350px;
  height: 400x;
}

.imagenColectivo {
  width: 350px;
  height: 400x;
  margin-bottom: 2rem;
}

p {
  font-size: 30px;
  padding: 15px;
}

.formularioContacto {
  margin: 40px;
}

@media only screen and (max-width: 480px) {
  .contenidoFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tituloJuguetes {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
  .card-group {
    margin: 0px;
  }
  .formularioContacto {
    margin: 0px;
  }
  .imagenForm {
    height: 233px;
    width: 350px;
    margin-bottom: 0.5rem;
  }
  .ensenanzaAjo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ensenanzaAjo .fotoWaldorf {
    width: 400px;
  }
  .ensenanzaAjo .fotoMontessori {
    width: 400px;
  }
  .carousel-item {
    height: 15rem;
  }
}

@media only screen and (max-width: 720px) {
  .contenidoFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-group {
    margin: 0px;
  }
  .formularioContacto {
    margin: 0px;
  }
  .carousel-item {
    height: 20rem;
  }
}
/*# sourceMappingURL=estilo.css.map */